body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  background-color: #a29595;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: rgb(216, 216, 101);
  padding: 20px;
  border-radius: 8px;
}

#new-task {
  border: none;
  border-bottom: 1px solid gray;
  background-color: rgb(216, 216, 101);
}

#new-task:focus {
  outline: none;
  width: 400px;
}

.todoBtn {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: cadetblue;
  color: antiquewhite;
  margin-top: 20px;
}

.todoBtn:hover {
  background-color: rgb(67, 73, 235);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.todoDone {
  text-decoration: line-through;
  color: #35333388;
}

.delete-button {
  cursor: pointer;
  background-color: #ff6961;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 10px;
}
.delete-button:hover {
  background-color: red;
}
